﻿
@{
    ViewBag.Title = "Home page";
}
<div id="welcome-messages"></div>
@section scripts
{

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>






}

